body {
    margin: auto 0;
    overflow-x: hidden;
    background-color: #f8f8f8;
    font-family: Montserrat, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-desktop {
    display: none;
}

@media (min-width: 990px) {
    .header-desktop {
        display: block;
    }

    .header-mobile {
        display: none;
    }
}

@media screen and (min-width: 990px) {

    .header-wrapper {
        height: 180px;
        background: linear-gradient(to right, #4facfe, #42CCF6);
        display: flex;
        justify-content: center;
        position: relative;
    }

    .navbar {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
    }

    .navbar::after {
        z-index: 1;
        content: "";
        background-image: url('../assets/nav-shape-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: initial;
        position: absolute;
        top: -47px;
        width: 100%;
        height: 100%;
        right: 520px;
    }

    .navbar-top {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
        gap: 120px;
    }

    .logo img {
        width: 118%;
        height: auto;
    }

    .right-icons {
        width: 100%;
        justify-content: right;
        display: flex;
        justify-self: end;
    }

    .search-container {
        display: flex;
        align-items: center;
        background: white;
        clip-path: polygon(98.415% 100%, 1.951% 100%, 1.951% 100%, 1.655% 99.554%, 1.379% 98.271%, 1.125% 96.239%, .9% 93.543%, .706% 90.268%, .549% 86.5%, .432% 82.325%, .36% 77.829%, .336% 73.096%, .367% 68.214%, .959% 16.429%, .959% 16.429%, 1.003% 13.669%, 1.069% 11.086%, 1.155% 8.706%, 1.26% 6.557%, 1.38% 4.665%, 1.514% 3.057%, 1.661% 1.76%, 1.818% .8%, 1.984% .204%, 2.156% 0%, 98.21% 0%, 98.21% 0%, 98.382% .2%, 98.548% .783%, 98.705% 1.726%, 98.852% 3.006%, 98.987% 4.598%, 99.107% 6.48%, 99.211% 8.628%, 99.297% 11.017%, 99.363% 13.625%, 99.407% 16.429%, 100% 68.214%, 100% 68.214%, 100.03% 73.096%, 100.007% 77.829%, 99.935% 82.325%, 99.818% 86.5%, 99.66% 90.268%, 99.467% 93.543%, 99.241% 96.239%, 98.988% 98.271%, 98.711% 99.554%, 98.415% 100%);
        width: 100%;
        color: #4facfe;
        overflow: hidden;
        padding-left: 20px;
    }

    .search-container input {
        border: none;
        outline: none;
        width: 100%;
        padding: 8px;
        font-size: 14px;
        color: #4facfe;
    }

    .icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        background: #53d1f5;
        clip-path: polygon(100% 31.786%, 97.914% 83.571%, 97.914% 83.571%, 97.759% 86.331%, 97.527% 88.914%, 97.224% 91.294%, 96.857% 93.443%, 96.434% 95.335%, 95.961% 96.943%, 95.444% 98.24%, 94.891% 99.2%, 94.308% 99.796%, 93.703% 100%, 7.587% 100%, 7.587% 100%, 6.982% 99.796%, 6.399% 99.2%, 5.846% 98.24%, 5.329% 96.943%, 4.856% 95.335%, 4.432% 93.443%, 4.066% 91.294%, 3.763% 88.914%, 3.531% 86.331%, 3.376% 83.571%, 1.29% 31.786%, 1.29% 31.786%, 1.184% 26.904%, 1.265% 22.171%, 1.519% 17.675%, 1.931% 13.5%, 2.485% 9.732%, 3.166% 6.457%, 3.96% 3.761%, 4.852% 1.729%, 5.825% .446%, 6.866% 0%, 94.423% 0%, 94.423% 0%, 95.464% .446%, 96.438% 1.729%, 97.33% 3.761%, 98.124% 6.457%, 98.805% 9.732%, 99.359% 13.5%, 99.771% 17.675%, 100.025% 22.171%, 100.106% 26.904%, 100% 31.786%);
        padding: 10px 25px;
    }

    .icons i {
        font-size: 22px;
        color: white;
    }

    .cart-icon {
        position: relative;
    }

    .cart-badge {
        position: absolute;
        top: -7px;
        right: -5px;
        color: white;
        background: red;
        font-size: 10px;
        padding: 3px 5px;
        border-radius: 50%;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 2;
    }

    .nav-item {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    .nav-item:hover {
        color: #53d1f5;
    }

    .cta-button {
        background-color: #6bd9fd;
        color: white;
        border: none;
        clip-path: polygon(100% 31.786%, 97.914% 83.571%, 97.914% 83.571%, 97.759% 86.331%, 97.527% 88.914%, 97.224% 91.294%, 96.857% 93.443%, 96.434% 95.335%, 95.961% 96.943%, 95.444% 98.24%, 94.891% 99.2%, 94.308% 99.796%, 93.703% 100%, 7.587% 100%, 7.587% 100%, 6.982% 99.796%, 6.399% 99.2%, 5.846% 98.24%, 5.329% 96.943%, 4.856% 95.335%, 4.432% 93.443%, 4.066% 91.294%, 3.763% 88.914%, 3.531% 86.331%, 3.376% 83.571%, 1.29% 31.786%, 1.29% 31.786%, 1.184% 26.904%, 1.265% 22.171%, 1.519% 17.675%, 1.931% 13.5%, 2.485% 9.732%, 3.166% 6.457%, 3.96% 3.761%, 4.852% 1.729%, 5.825% .446%, 6.866% 0%, 94.423% 0%, 94.423% 0%, 95.464% .446%, 96.438% 1.729%, 97.33% 3.761%, 98.124% 6.457%, 98.805% 9.732%, 99.359% 13.5%, 99.771% 17.675%, 100.025% 22.171%, 100.106% 26.904%, 100% 31.786%);
        height: 35px;
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0 20px;
        transition: transform 0.3s ease-in-out;
    }

    .cta-button:hover {
        transform: rotate(5deg);
    }

}

@media screen and (max-width: 990px) {
    .header-mobile {
        background: linear-gradient(to right, #4facfe, #42CCF6);
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .top-bar {
        background-color: #FF3da1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .top-bar-link {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding-left: 15px;
    }

    .navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 50%;
    }

    .logo img {
        width: 100%;
    }

    .menu-btn {
        background: none;
        border: none;
        font-size: 24px;
        color: white;
        cursor: pointer;
    }

    .right-icons {
        display: flex;
        align-items: center;
        background: #53d1f5;
        clip-path: polygon(100% 31.786%, 97.914% 83.571%, 97.914% 83.571%, 97.759% 86.331%, 97.527% 88.914%, 97.224% 91.294%, 96.857% 93.443%, 96.434% 95.335%, 95.961% 96.943%, 95.444% 98.24%, 94.891% 99.2%, 94.308% 99.796%, 93.703% 100%, 7.587% 100%, 7.587% 100%, 6.982% 99.796%, 6.399% 99.2%, 5.846% 98.24%, 5.329% 96.943%, 4.856% 95.335%, 4.432% 93.443%, 4.066% 91.294%, 3.763% 88.914%, 3.531% 86.331%, 3.376% 83.571%, 1.29% 31.786%, 1.29% 31.786%, 1.184% 26.904%, 1.265% 22.171%, 1.519% 17.675%, 1.931% 13.5%, 2.485% 9.732%, 3.166% 6.457%, 3.96% 3.761%, 4.852% 1.729%, 5.825% .446%, 6.866% 0%, 94.423% 0%, 94.423% 0%, 95.464% .446%, 96.438% 1.729%, 97.33% 3.761%, 98.124% 6.457%, 98.805% 9.732%, 99.359% 13.5%, 99.771% 17.675%, 100.025% 22.171%, 100.106% 26.904%, 100% 31.786%);
        padding: 6px 14px;
        gap: 12px;
    }

    .right-icons i {
        font-size: 20px;
        cursor: pointer;
    }

    .search-container {
        display: flex;
        align-items: center;
        background: white;
        clip-path: polygon(98.415% 100%, 1.951% 100%, 1.951% 100%, 1.655% 99.554%, 1.379% 98.271%, 1.125% 96.239%, .9% 93.543%, .706% 90.268%, .549% 86.5%, .432% 82.325%, .36% 77.829%, .336% 73.096%, .367% 68.214%, .959% 16.429%, .959% 16.429%, 1.003% 13.669%, 1.069% 11.086%, 1.155% 8.706%, 1.26% 6.557%, 1.38% 4.665%, 1.514% 3.057%, 1.661% 1.76%, 1.818% .8%, 1.984% .204%, 2.156% 0%, 98.21% 0%, 98.21% 0%, 98.382% .2%, 98.548% .783%, 98.705% 1.726%, 98.852% 3.006%, 98.987% 4.598%, 99.107% 6.48%, 99.211% 8.628%, 99.297% 11.017%, 99.363% 13.625%, 99.407% 16.429%, 100% 68.214%, 100% 68.214%, 100.03% 73.096%, 100.007% 77.829%, 99.935% 82.325%, 99.818% 86.5%, 99.66% 90.268%, 99.467% 93.543%, 99.241% 96.239%, 98.988% 98.271%, 98.711% 99.554%, 98.415% 100%);
        padding: 5px 15px;
        margin: 10px auto;
        width: 90%;
        color: #4facfe;
        overflow: hidden;
    }

    .search-container input {
        border: none;
        outline: none;
        margin-left: 8px;
        font-size: 14px;
        color: #4facfe;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        background: linear-gradient(to right, #4facfe, #42CCF6);
        text-align: left;
        padding: 15px;
    }

    .mobile-menu a {
        text-decoration: none;
        color: white;
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .mobile-menu a:last-child {
        border-bottom: none;
    }
}


.glide-wrapper {
    background: url('../assets/Background1.png');
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.glide-wrapper::before,
.glide-wrapper::after {
    z-index: 1;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.glide-wrapper::before {
    background-image: url('../assets/slideshow-bg.png');
    width: 72%;
    height: 71%;
    top: 14%;
    left: -4%;
}

.glide-wrapper::after {
    background-image: url('../assets/slideshow-bg2.png');
    width: 20%;
    height: 53%;
    bottom: 14%;
    right: -2%;

}

@media (max-width: 1100px) {

    .glide-wrapper::before,
    .glide-wrapper::after {
        display: none;
        content: none;
    }
}


.glide1 {
    overflow: visible !important;
}

.glide1 .glide__arrows {

    position: absolute;
    bottom: -20px;
    /* Moves the arrow buttons down to be half outside */
    left: 50%;
    transform: translateX(-50%);
    /* Centers them horizontally */
    display: flex;
    gap: 10px;
    z-index: 10;
}

.glide1 {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 990px) {
    .glide1 {
        max-height: 90%;
        max-width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
}

.glide1 .glide__slide {
    width: 100%;
}

.glide1 .glide__slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.glide1 .glide__arrow {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.glide1 .glide__arrow--left {
    background-color: #f8a7c2;
}

.glide1 .glide__arrow--right {
    background-color: #ff5cab;
}

.glide1 .glide__arrow:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.best-sellers-container {
    background: #fcf2ec;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.the-latest {
    h2 {
        color: #40c8f4 !important;
    }

    .tab {
        background-color: #6bd9fd;
    }

    .tab button.active {
        background-color: #40c8f4;
    }

    .tab:hover {
        background-color: #40c8f4;

    }

    .products {
        background-color: #40c8f4;
    }
}

.best-sellers-container h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #ec007a;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .best-sellers-container h2 {
        font-size: 22px;
    }
}

.tabs-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 19px;
    overflow-x: scroll;
}

.tabs-container::-webkit-scrollbar {
    display: none;
}

.tab {
    background-color: #ffcbe4;
    border: none;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #656565;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    clip-path: polygon(100% 100%, .261% 100%, .261% 100%, .96% 99.87%, 1.541% 99.468%, 2.021% 98.778%, 2.414% 97.784%, 2.736% 96.469%, 3.002% 94.816%, 3.227% 92.809%, 3.427% 90.432%, 3.616% 87.668%, 3.81% 84.5%, 3.81% 84.5%, 3.978% 81.338%, 4.204% 76.678%, 4.478% 70.785%, 4.789% 63.924%, 5.127% 56.359%, 5.48% 48.356%, 5.839% 40.179%, 6.191% 32.092%, 6.527% 24.361%, 6.836% 17.25%, 6.836% 17.25%, 7.021% 14.367%, 7.324% 11.664%, 7.734% 9.169%, 8.241% 6.912%, 8.835% 4.922%, 9.504% 3.228%, 10.24% 1.86%, 11.031% .846%, 11.867% .216%, 12.738% 0%, 87.523% 0%, 87.523% 0%, 88.404% .216%, 89.246% .846%, 90.039% 1.86%, 90.776% 3.228%, 91.446% 4.922%, 92.039% 6.912%, 92.547% 9.169%, 92.96% 11.664%, 93.268% 14.367%, 93.463% 17.25%, 93.463% 17.25%, 93.761% 24.361%, 94.089% 32.092%, 94.435% 40.179%, 94.789% 48.356%, 95.139% 56.359%, 95.475% 63.924%, 95.785% 70.785%, 96.058% 76.678%, 96.284% 81.338%, 96.451% 84.5%, 96.451% 84.5%, 96.645% 87.668%, 96.835% 90.432%, 97.034% 92.809%, 97.259% 94.816%, 97.525% 96.469%, 97.847% 97.784%, 98.24% 98.778%, 98.72% 99.468%, 99.302% 99.87%, 100% 100%);
    min-width: 200px;
    height: 60px;
    transform: scale(1);
}

@media screen and (min-width: 1800px) {
    .tab {
        min-width: 250px;
    }

}

.tab.active {
    background-color: #ff69b4;
    color: white;
    transform-origin: center bottom;
    font-size: 15px;
    height: 65px;
}

.tab:hover {
    background-color: #ff85c2;
    color: white;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    margin-top: -20px;
    background-color: #f466af;
    padding: 20px 130px;
    border-bottom-right-radius: 80px;
    gap: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    display: none;
}

#All {
    display: grid;
}

.products::before,
.products::after {
    z-index: 1;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.products::before {
    background-image: url('../assets/blog-bg-shape.png');
    background-position: left;
    width: 60%;
    height: 80%;
    top: 13%;
    right: 48%;
}

.products::after {
    background-image: url('../assets/blog-bg-shape.png');
    width: 16%;
    height: 38%;
    bottom: 24%;
    left: 93%;
}

.the-latest.products::before {
    background-image: url('../assets/the-latest-shape.png');
    width: 60%;
    height: 53%;
    top: 25%;
    right: 43%;
}

.the-latest.products::after {
    background-image: url('../assets/the-latest-shape2.png');
    width: 44%;
    height: 75%;
    bottom: 11%;
    left: 77%;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    text-align: left;
    font-size: 10px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.product-info h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.product-info p {
    color: #656565;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 990px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        margin-top: -20px;
        background-color: #ff69b4;
        padding: 10px;
    }

    .product-info {
        padding: 0;
        padding-left: 5px;
        padding-top: 2px;
    }

    .product-info h3 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 14px;
        flex-wrap: wrap;
    }

    .product-info p {
        font-size: 10px;
    }

    .product img {
        height: auto;
        max-height: 221px;
    }
}

@media screen and (max-width: 1251px) {

    .tabs-container {
        justify-content: flex-start;
    }
}

.game-container {
    background: #b3f6ff;
    padding: 50px 0;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

@media screen and (min-width: 768px) {
    .game-container {
        border-top-left-radius: 120px;
        border-bottom-right-radius: 120px;
    }
}

.game-container::before,
.game-container::after {
    z-index: 1;
    content: "";
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #B3F6FF;
    position: absolute;
}

.game-container::before {
    background-image: url('../assets/game-shape-bg.png');
    width: 60%;
    height: 50%;
    top: 6%;
    right: 0%;
}

.game-container::after {
    background-image: url('../assets/game-shape2-bg.png');
    width: 16%;
    height: 32%;
    bottom: 6%;
    right: 3%;
}

.banner {
    background: #f2785f;
    border-bottom: 12px solid #ff3da1;
    color: white;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    transform: rotate(-1.3deg);
    position: relative;
    z-index: 2;
    top: -28px;
}

.banner-text {
    display: inline-block;
    white-space: nowrap;
    animation: moveText 10s linear infinite;
    -webkit-text-stroke-width: 2px !important;
    -webkit-text-stroke-color: #ffffff;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    color: transparent;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text img {
    width: 30px;
    height: 30px;
}

@keyframes moveText {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.game-elements {
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
    z-index: 2;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1628px;
    margin: auto;
}

.game-image {
    text-align: center;
}

.game-image img {
    width: 90%;
    height: 90%;
}

.lunchbox-shuffle-desktop {
    display: none;
}

@media (min-width: 990px) {
    .lunchbox-shuffle-desktop {
        display: block;
    }

    .lunchbox-shuffle-mobile {
        display: none;
    }
}

/* 
  .shadow {
    position: absolute;
    top: 10px; 
    left: 10px;
    width: 100%;
    height: 100%;
    background: rgba(173, 216, 230, 0.7); 
    border-radius: 15px; 
    z-index: -1; /
  } */

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    gap: 5px;
}

.game-info h3 {
    margin: 0;
    color: black;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subheading {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.game-description {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #656565;
}

.play-btn {
    clip-path: polygon(100% 31.786%, 97.914% 83.571%, 97.914% 83.571%, 97.759% 86.331%, 97.527% 88.914%, 97.224% 91.294%, 96.857% 93.443%, 96.434% 95.335%, 95.961% 96.943%, 95.444% 98.24%, 94.891% 99.2%, 94.308% 99.796%, 93.703% 100%, 7.587% 100%, 7.587% 100%, 6.982% 99.796%, 6.399% 99.2%, 5.846% 98.24%, 5.329% 96.943%, 4.856% 95.335%, 4.432% 93.443%, 4.066% 91.294%, 3.763% 88.914%, 3.531% 86.331%, 3.376% 83.571%, 1.29% 31.786%, 1.29% 31.786%, 1.184% 26.904%, 1.265% 22.171%, 1.519% 17.675%, 1.931% 13.5%, 2.485% 9.732%, 3.166% 6.457%, 3.96% 3.761%, 4.852% 1.729%, 5.825% .446%, 6.866% 0%, 94.423% 0%, 94.423% 0%, 95.464% .446%, 96.438% 1.729%, 97.33% 3.761%, 98.124% 6.457%, 98.805% 9.732%, 99.359% 13.5%, 99.771% 17.675%, 100.025% 22.171%, 100.106% 26.904%, 100% 31.786%);
    background: #ff4f98;
    color: white;
    font-size: 18px;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
}

.play-btn:hover {
    background: #d35a86;
    transform: rotate(5deg);
}

@media screen and (max-width: 1100px) {
    .game-elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .game-info {
        max-width: 90%;
    }
}

.subscription-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    margin: 60px 0;
}

.subscription-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2409c;
    border-radius: 20px;
    height: fit-content;
    position: relative;
    margin: 0 45px;
}

.subscription-container::before,
.subscription-container::after {
    z-index: 1;
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.subscription-container::before {
    background-image: url('../assets/subscription-shape.png');
    width: 60%;
    height: 50%;
    top: 7%;
    left: -5%
}

.subscription-container::after {
    background-image: url('../assets/subscription-shape2.png');
    width: 16%;
    height: 32%;
    bottom: 6%;
    left: 27%;
}

.subscription-content {
    display: flex;
    flex-direction: column;
    padding-left: 47px;
    padding-bottom: 10px;
    color: white;
    max-width: 600px;
    position: relative;
    z-index: 2;
}

.email-input {
    display: flex;
    align-items: center;
    background: white;
    clip-path: polygon(98.415% 100%, 1.951% 100%, 1.951% 100%, 1.655% 99.554%, 1.379% 98.271%, 1.125% 96.239%, .9% 93.543%, .706% 90.268%, .549% 86.5%, .432% 82.325%, .36% 77.829%, .336% 73.096%, .367% 68.214%, .959% 16.429%, .959% 16.429%, 1.003% 13.669%, 1.069% 11.086%, 1.155% 8.706%, 1.26% 6.557%, 1.38% 4.665%, 1.514% 3.057%, 1.661% 1.76%, 1.818% .8%, 1.984% .204%, 2.156% 0%, 98.21% 0%, 98.21% 0%, 98.382% .2%, 98.548% .783%, 98.705% 1.726%, 98.852% 3.006%, 98.987% 4.598%, 99.107% 6.48%, 99.211% 8.628%, 99.297% 11.017%, 99.363% 13.625%, 99.407% 16.429%, 100% 68.214%, 100% 68.214%, 100.03% 73.096%, 100.007% 77.829%, 99.935% 82.325%, 99.818% 86.5%, 99.66% 90.268%, 99.467% 93.543%, 99.241% 96.239%, 98.988% 98.271%, 98.711% 99.554%, 98.415% 100%);
    padding: 0 20px;
    width: 80%;
    height: 50px;
}

.email-input input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.input-placeholder::placeholder {
    color: #40c8f4;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email-input i {
    color: #f2409c;
    font-size: 20px;
}

.subscription-btn {
    clip-path: polygon(100% 31.786%, 97.914% 83.571%, 97.914% 83.571%, 97.759% 86.331%, 97.527% 88.914%, 97.224% 91.294%, 96.857% 93.443%, 96.434% 95.335%, 95.961% 96.943%, 95.444% 98.24%, 94.891% 99.2%, 94.308% 99.796%, 93.703% 100%, 7.587% 100%, 7.587% 100%, 6.982% 99.796%, 6.399% 99.2%, 5.846% 98.24%, 5.329% 96.943%, 4.856% 95.335%, 4.432% 93.443%, 4.066% 91.294%, 3.763% 88.914%, 3.531% 86.331%, 3.376% 83.571%, 1.29% 31.786%, 1.29% 31.786%, 1.184% 26.904%, 1.265% 22.171%, 1.519% 17.675%, 1.931% 13.5%, 2.485% 9.732%, 3.166% 6.457%, 3.96% 3.761%, 4.852% 1.729%, 5.825% .446%, 6.866% 0%, 94.423% 0%, 94.423% 0%, 95.464% .446%, 96.438% 1.729%, 97.33% 3.761%, 98.124% 6.457%, 98.805% 9.732%, 99.359% 13.5%, 99.771% 17.675%, 100.025% 22.171%, 100.106% 26.904%, 100% 31.786%);
    background: #40c8f4;
    color: white;
    font-size: 18px;
    padding: 0px 20px;
    border: none;
    margin-top: 15px;
    text-transform: capitalize;
    width: 100%;
    max-width: 330px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subscription-image {
    position: relative;
    z-index: 2;
}

.subscription-image img {
    margin-top: -24px;
    margin-bottom: -11px;
    margin-left: 6px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 1100px) {

    .subscription-container {
        max-width: 100% !important;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .subscription-container::before {
        width: 38%;
        height: 63%;
        top: 15%;
        left: 0%;
    }

    .subscription-image {
        margin-top: -50px;
    }

    .subscription-image img {
        text-align: center;
        margin-top: 20px;
    }

    .subscription-content {
        width: 95%;
        padding: 20px;
    }

    .buttons-mobile {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .subscription-content p {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }
}

.second-game {
    background: #b3f6ff;
    border-radius: 70px 70px 0 130px / 70px 70px 0px 130px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 70px;
    position: relative;
    overflow-x: hidden;
}

.second-game::before,
.second-game::after {
    z-index: 1;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.second-game::before {
    background-image: url('../assets/game-shape2-bg.png');
    width: 70%;
    height: 65%;
    top: 25%;
    left: -7%;
}

.second-game::after {
    background-image: url('../assets/game-shape2-bg.png');
    width: 20%;
    height: 50%;
    bottom: 14%;
    right: -16%;

}

.second-game-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.second-game-image img {
    width: 80%;
}

@media screen and (max-width: 1100px) {
    .second-game {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 70px 0;
        border-radius: 30px 0 / 30px 0px;

    }

}

.featured-section {
    background-image: url('../assets/feautured-games-bg.png');
    position: relative;
    padding-bottom: 140px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100vw;
}

@media screen and (min-width: 900px) and (max-width: 1220px) {
    .featured-section {
        padding-bottom: 140px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .featured-section {
        padding-bottom: 95px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 543px) {
    .featured-section {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 542px) {
    .featured-section {
        padding-bottom: 9px !important;
    }
}

.featured-title {
    font-size: 30px;
    color: #40c8f4;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .featured-title {
        font-size: 22px;
    }
}

.glide-featured {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.glide-featured .glide__slide {
    width: 300px;
    height: 300px;
    padding: 0 10px;
}

@media screen and (max-width: 1023px) and (min-width: 543px) {
    .glide-featured .glide__slide {
        width: 190px !important;
        height: 171px !important;
        padding: 5px;
        margin: 0 5px;
    }
}

@media screen and (max-width: 499px) {
    .glide-featured .glide__slide {
        width: 140px !important;
        height: 140px !important;
        margin: 0 !important;
    }
}

.glide-featured .glide__slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.glide-featured .glide__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .glide-featured .glide__arrows {
        display: none;
    }

    .glide-featured {
        max-width: 100%;
    }
}

.glide-featured .glide__arrow {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: auto;
}

.glide-featured .glide__arrow--left {
    background-color: #f8a7c2;
    position: absolute;
    left: -50px;
}

.glide-featured .glide__arrow--right {
    background-color: #ff5cab;
    position: absolute;
    right: -50px;
}

.glide-featured .glide__arrow:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.about-us-title {
    color: #ff5cab;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .about-us-title {
        font-size: 22px;
    }
}

.about-us-card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    padding: 20px;
    color: white;
}

.card-1 {
    background-color: #4364ad;
}

.card-2 {
    background-color: #f466af;
}

.card-3 {
    background-color: #40c8f4
}

.card-4 {
    background-color: #f2785f;
}

.card-5 {
    background-color: #9b59b6;
}

@media screen and (max-width: 1100px) {
    .about-us-card {
        max-width: 400px;
    }
}

.bg-icon {
    background-image: url('../assets/about-us-rectangle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 45px;
}

.new-products-section {
    position: relative;
    z-index: 2;
    margin: 100px 0;
    overflow: hidden;
}

.new-products-section::before,
.new-products-section::after {
    z-index: 1;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.new-products-section::before {
    background-image: url('../assets/new-products-shape.png');
    width: 72%;
    height: 100%;
    top: 0%;
    left: -6%;
}

.new-products-section::after {
    background-image: url('../assets/new-products-shape2.png');
    width: 20%;
    height: 90%;
    bottom: 8%;
    right: -3%;
}

.new-products-title {
    font-size: 30px;
    color: #40c8f4;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .new-products-title {
        font-size: 22px;
    }
}

.new-products-card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    text-align: left;
    font-size: 10px;
    width: 90%;
    height: 90%;
    justify-self: center;
}

.new-products-card:hover {
    transform: scale(1.05);
}

.new-products-card img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.new-product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-product-titles {
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 700;
}

.new-product-titles p {
    color: #656565;
    font-weight: 600;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

.current-price {
    color: black;
    font-weight: 700;
    font-size: 1.5em;
}

.old-price {
    color: #ff3b30;
    text-decoration: line-through;
    font-weight: 600;
}

.glide-new-products {
    position: relative;
    z-index: 2;
    max-width: 90%;
    margin: 0 auto;
}

.glide-new-products .glide__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .glide-new-products .glide__arrows {
        display: none;
    }

    .glide-new-products {
        max-width: 100%;
    }
}

.glide-new-products .glide__arrow {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: auto;
}

.glide-new-products .glide__arrow--left {
    background-color: #f8a7c2;
    position: absolute;
    left: -50px;
}

.glide-new-products .glide__arrow--right {
    background-color: #ff5cab;
    position: absolute;
    right: -50px;
}

.glide-new-products .glide__arrow:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.blog-container {
    background: #f466af;
    display: flex;
    position: relative;
    max-height: 730px;
    max-width: 100%;
    z-index: 2;
    padding: 20px 40px 0;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 120px;
    overflow: hidden;
    margin-top: 30px;
}

@media only screen and (min-width: 1266px) and (max-width: 3666px) {
    .blog-container {
        justify-content: center;
    }
}

@media screen and (max-width: 1100px) {
    .blog-container {
        flex-direction: column;
        height: fit-content !important;
        max-height: none;
        padding-inline: 0 !important;
        border-radius: 46px 2px 40px;
        margin-top: 20px !important;
        align-items: center;
    }
}

.blog-container::before,
.blog-container::after {
    z-index: 1;
    content: "";
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.blog-container::before {
    background-image: url('../assets/blog-bg-shape.png');
    width: 60%;
    height: 50%;
    bottom: -1%;
    left: -9%;
}

.blog-container::after {
    background-image: url('../assets/blog-shape2.png');
    width: 60%;
    height: 45%;
    bottom: 5%;
    left: 34%;
}


.blog-shape {
    background: url('../assets/blog-shape3.png');
    background-size: cover;
    position: absolute;
    width: 30%;
    height: 25%;
    top: 28%;
    right: -28%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.blog-left {
    position: relative;
    z-index: 2;
    flex: 1;
    padding: 20px 23px 0px;
    background-color: transparent;
    color: #fff;
    max-width: 650px;
}

.blog-left h2 {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin: 13px 0 19px;
}

.blog-left p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 46px;
}

.blog-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
    row-gap: 24px;
}

.blog-buttons button {
    background: #fab3d7;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    clip-path: polygon(100% 31.786%, 97.914% 83.571%, 97.914% 83.571%, 97.759% 86.331%, 97.527% 88.914%, 97.224% 91.294%, 96.857% 93.443%, 96.434% 95.335%, 95.961% 96.943%, 95.444% 98.24%, 94.891% 99.2%, 94.308% 99.796%, 93.703% 100%, 7.587% 100%, 7.587% 100%, 6.982% 99.796%, 6.399% 99.2%, 5.846% 98.24%, 5.329% 96.943%, 4.856% 95.335%, 4.432% 93.443%, 4.066% 91.294%, 3.763% 88.914%, 3.531% 86.331%, 3.376% 83.571%, 1.29% 31.786%, 1.29% 31.786%, 1.184% 26.904%, 1.265% 22.171%, 1.519% 17.675%, 1.931% 13.5%, 2.485% 9.732%, 3.166% 6.457%, 3.96% 3.761%, 4.852% 1.729%, 5.825% .446%, 6.866% 0%, 94.423% 0%, 94.423% 0%, 95.464% .446%, 96.438% 1.729%, 97.33% 3.761%, 98.124% 6.457%, 98.805% 9.732%, 99.359% 13.5%, 99.771% 17.675%, 100.025% 22.171%, 100.106% 26.904%, 100% 31.786%);
    color: #fff;
    background: #ffffff80;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.blog-category-button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    padding-inline: 20px;
    height: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color .3s;
    text-decoration: none;
}

.blog-buttons button:hover {
    background: white;
    color: #ec00a7;
}

.blog-posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    position: relative;
    z-index: 2;
    padding: 30px;
}

.blog-posts::-webkit-scrollbar {
    display: none;
}

.blog-post {
    background: linear-gradient(180deg, #40c8f4, #04abe1);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 300px;
    max-width: 930px;
}

.post-image {
    max-height: 264px;
}

.blog-meta {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 29px;
}

.post-content {}

.post-content h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: -9px;
}

.post-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 24px;
    margin-top: 16px;
}

.post-content a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}


@media screen and (max-width: 1100px) {
    .blog-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .blog-left h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .blog-posts {
        display: flex;
        flex-direction: row;
        gap: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
        max-width: 100%;
    }

    .blog-post {
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: auto;
        max-width: 300px
    }

    .post-image {
        width: 249px !important;
        max-height: fit-content;
    }

    .post-image img {
        max-width: 100%;
    }

    .post-content {
        max-width: 231px;
    }

    .post-content h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;

    }

    .post-content p {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }
}

.footer {
    background: #1fb9ea;
    color: white;
    margin-top: 20px;
    padding: 60px;
    padding-bottom: 0;
    display: block;
    position: relative;
    z-index: 2;
}

.shape-footer {
    position: absolute;
    z-index: 0;
    top: -13px;
    left: 0;
    right: 0;
    max-width: 100%;
}

.shape-footer img {
    width: 100%;
}

/* .footer::before,
.footer::after {
    z-index: 1;
    content: "";
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.footer::before {
    background-image: url('../assets/footer-shape.png');
    width: 43%;
    height: 50%;
    bottom: -5%;
    left: 5%;
}

.footer::after {
    background-image: url('../assets/footer-shape2.png');
    width: 20%;
    height: 32%;
    top: 10%;
    right: 2%;
} */

.footer-top-content {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

.footer-section {
    max-width: 400px;
}

.logo-footer img {
    width: 70%;
}

.social-icons {
    margin-top: 34px;
}

.social-icons i {
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.footer-links a {
    display: block;
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.newsletter h3 {
    font-size: 26px;
    margin-top: 0;
}

.subscribe-btn {
    clip-path: polygon(100% 31.786%, 97.914% 83.571%, 97.914% 83.571%, 97.759% 86.331%, 97.527% 88.914%, 97.224% 91.294%, 96.857% 93.443%, 96.434% 95.335%, 95.961% 96.943%, 95.444% 98.24%, 94.891% 99.2%, 94.308% 99.796%, 93.703% 100%, 7.587% 100%, 7.587% 100%, 6.982% 99.796%, 6.399% 99.2%, 5.846% 98.24%, 5.329% 96.943%, 4.856% 95.335%, 4.432% 93.443%, 4.066% 91.294%, 3.763% 88.914%, 3.531% 86.331%, 3.376% 83.571%, 1.29% 31.786%, 1.29% 31.786%, 1.184% 26.904%, 1.265% 22.171%, 1.519% 17.675%, 1.931% 13.5%, 2.485% 9.732%, 3.166% 6.457%, 3.96% 3.761%, 4.852% 1.729%, 5.825% .446%, 6.866% 0%, 94.423% 0%, 94.423% 0%, 95.464% .446%, 96.438% 1.729%, 97.33% 3.761%, 98.124% 6.457%, 98.805% 9.732%, 99.359% 13.5%, 99.771% 17.675%, 100.025% 22.171%, 100.106% 26.904%, 100% 31.786%);
    background: #ff4f98;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    text-transform: capitalize;
    width: 60%;
    max-width: 330px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subscribe-btn:hover {
    background: #d35a86;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 20px 0;
    color: #f8f8f8;
    position: relative;
    z-index: 2;
}

.footer-bottom-content a {
    text-decoration: none;
    color: #f8f8f8;
}

.border {
    border: 1px solid #b3f6ff;
}

@media screen and (max-width: 1100px) {

    .footer {
        padding: 10px 30px;
    }

    .footer-top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 15px;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe-btn {
        width: 100%;
    }

    .email-input {
        width: 87%;
    }

    .footer-bottom-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        gap: 20px;
    }
}